:root {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
}

.center{
    text-align: center;
}

.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.flex-full{
    width: 100%;
    flex: 1;
}

.img{
    height: 10rem;
  }

.flag-img{
    width: 40px;
}

.text{
  width: 75%;
  margin: auto;
}